*{
  box-sizing: border-box;
  }

body{
  background-color:  rgb(208, 224, 227);
  }

h1{
  font-family:  "Helvetica", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
  }

h2{
  font-family:  "Courier New", monospace;
  text-align: center;
  }

h3{
  font-family:  "Courier New", monospace;
  font-size: 45;
  text-align: center;
  }

h4{
  font-family:  "Courier New", monospace;
  font-size: 25px;
  text-align: center;
  }

p{
  font-family:  "Courier New", monospace;
  text-align: center;
  }


.numbers{
  display: flex;
  margin-top: 50px;
  }

.num{
  border: 1px solid black;
  flex: 16.67%;
  /* padding: 0px;
  margin: 0px; */
  }

div.buttons{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.spin{
  width: 150px;
  height: 75px;

}

.stop{
  width: 150px;
  height: 75px;
}

div.header{
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 50px;
}

div.canvas-container{
  /* border: 1px solid black; */
  /* width: 75%; */
  text-align: center;
}

#myCanvas{
  /* border: 1px solid black; */
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  width: 500px;
}

